:root {
    --FooterBackGround: #211C84;
    --NavbarBackGround: #211C84;
    --BodyBackground: #211c84e7;
    --Branco: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #211c84e7;
}
.formulario{
    width: 70%;
    border: 1.5px solid whitesmoke;
    padding: 25px;
    margin: 20px;
    border-radius: 10px;
}
.grupobotao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grupobotao button {
    width: 48%;
    margin-left: 5px;
    margin-top: 10px;
}

footer {
    background-color: #211C84;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.724);
    padding: 30px;
}
.footdivs h4 {
    color: white;
}
.footdivs ul {
    list-style: none;
}
.footdivs ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footdivs p {
    color: white;
}
.foter {
    display: flex;
}
.grupobotao {
    display: flex;
}
label {
    color: white;
}
.bg-body-tertiary {
    background-color: #211C84 !important;
}
.container-fluid a {
    color: white;
}
.container-fluid a {
    color: white;
}
.nav-item a {
    color: white;
}
.nav-link.active {
    color: white !important;
    font-weight: bold;
    font-size: 1.1rem;
}
.nav-link.dropdown-toggle {
    color: white !important;
}
.dropdown-menu a {
    color: black !important;
}
.navbar-brand:hover {
    font-weight: bold;
    font-size: 1.1rem;
    color: white !important;
}